## Surviving the Titanic Sinking 
 Some groups of people were more likely to survive than others, such as women, children, and the upper-class.
 
 Download the data set from https://www.kaggle.com/c/titanic/data 
 
 while running the file make sure the new jupyter notebook is opened from the directory where the DataSet is stored

In [1]:
import pandas as pd 
import numpy as np
df= pd.read_csv('train.csv')

First all the null values in the data are filled with ' ' .
We know the fact that people with same last name had a chance of surviving together so i made a separate column of the last name

In [2]:
df.fillna('',inplace=True)
df['LEVEL1']=df.Cabin.map(lambda x: x[:1])
df['LEVEL2']=df.Cabin.map(lambda x: x[2:])
df['LNAME']=df.Name.map( lambda x: x.split(',')[0])
df['Ticket']=df['Ticket'].astype(np.str)
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LEVEL1,LEVEL2,LNAME
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S,,,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C,C,5,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S,,,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S,C,23,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S,,,Allen
5,6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q,,,Moran
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,E,6,McCarthy
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,,S,,,Palsson
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S,,,Johnson
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C,,,Nasser

##### H2O is open-source software for big-data analysis. It is produced by the company H2O.ai. H2O allows users to fit thousands of potential models as part of discovering patterns in data. The H2O software runs can be called from the statistical package R, Python, and other environments.

In [4]:
import h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
  Starting server from c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\DRSAND~1\AppData\Local\Temp\tmpdh49ke06
  JVM stdout: C:\Users\DRSAND~1\AppData\Local\Temp\tmpdh49ke06\h2o_drsandeepabrol_started_from_python.out
  JVM stderr: C:\Users\DRSAND~1\AppData\Local\Temp\tmpdh49ke06\h2o_drsandeepabrol_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321... successful.

--------------------------  -------------------------------------
H2O cluster uptime:         05 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.18.0.11
H2O cluster version age:    1 month and 18 days
H2O cluster name:           H2O_from_python_drsandeepabrol_tf0o4d
H2O cluster total nodes:    1
H2O cluster free memory:    1.757 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Algos, AutoML, Core V3, Core V4
Python version:             3.6.5 final
--------------------------  -------------------------------------

In [8]:
#the given dataframe is imported to h2o
hf=h2o.H2OFrame(df)

c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\utils\shared_utils.py:170: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  data = _handle_python_lists(python_obj.as_matrix().tolist(), -1)[1]

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [9]:
hf.head()

PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LEVEL1,LEVEL2,LNAME
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,nan,7.25,,S,,,Braund
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,nan,71.2833,C85,C,C,5,Cumings
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,nan,7.925,,S,,,Heikkinen
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S,C,23,Futrelle
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S,,,Allen
6,0,3,"Moran, Mr. James",male,nan,0,0,330877,8.4583,,Q,,,Moran
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S,E,6,McCarthy
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S,,,Palsson
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S,,,Johnson
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C,,,Nasser

In [23]:
from h2o.automl import H2OAutoML

# In this examples all columns beside Surivied are predictor columns which are used to determine 
# whether the person survived the shipwreck
x=hf.columns

y='Survived'
#factor means it is a catogorical variable (not a int or float)
hf['Survived']=hf['Survived'].asfactor()
for r in ['PassengerId',y]:
    x.remove(r)
#This program will find the best fitting algorithm in a mamximum allocated time of 60 sec    
aml = H2OAutoML(max_runtime_secs = 60)
aml.train(x = x, y = y,
          training_frame = hf)

AutoML progress: |████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [24]:
#eaderboard” of models that were trained in the process, ranked by a default metric based on the problem type 
#(the second column of the leaderboard). In binary classification problems,
# that metric is AUC, and in multiclass classification problems, the metric is mean per-class error. 
#in regression problems, the default sort metric is root mean squared error (RMSE). 

aml.leaderboard

model_id,auc,logloss
StackedEnsemble_BestOfFamily_0_AutoML_20180630_235009,0.866396,0.419364
StackedEnsemble_AllModels_0_AutoML_20180630_235009,0.862869,0.418998
XRT_0_AutoML_20180630_235009,0.857068,0.463275
DeepLearning_0_AutoML_20180630_235009,0.854841,0.443401
GBM_grid_0_AutoML_20180630_235009_model_9,0.854191,0.454594
GLM_grid_0_AutoML_20180630_235009_model_0,0.854062,0.438772
GBM_grid_0_AutoML_20180630_235009_model_46,0.853325,0.533823
GBM_grid_0_AutoML_20180630_235009_model_56,0.846755,0.527161
GBM_grid_0_AutoML_20180630_235009_model_38,0.844714,0.533428
GBM_grid_0_AutoML_20180630_235009_model_31,0.844312,1.14125

Now after the best algo has been found , we will now implement it on the test set

In [25]:
test=h2o.H2OFrame(pd.read_csv('test.csv'))
preds=aml.predict(test)
final=test.cbind(preds)
results=h2o.as_list(final)

c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\utils\shared_utils.py:170: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  data = _handle_python_lists(python_obj.as_matrix().tolist(), -1)[1]

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
stackedensemble prediction progress: |████████████████████████████████████| 100%

c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\job.py:69: UserWarning: Test/Validation dataset column 'Cabin' has levels not trained on: [A11, A18, A21, A29, A9, B10, B11, B24, B26, B36, B45, B52 B54 B56, B61, C105, C116, C130, C132, C28, C31, C39, C51, C53, C55 C57, C6, C80, C89, C97, D22, D34, D38, D40, D43, E39 E41, E45, E52, E60, F, F E46, F E57, nan]
  warnings.warn(w)
c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\job.py:69: UserWarning: Test/Validation dataset is missing column 'LEVEL1': substituting in a column of NaN
  warnings.warn(w)
c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\job.py:69: UserWarning: Test/Validation dataset is missing column 'LEVEL2': substituting in a column of NaN
  warnings.warn(w)
c:\users\drsandeepabrol\appdata\local\programs\python\python36\lib\site-packages\h2o\job.py:69: UserWarning: Test/Validation dataset is missing column 'LNAME': substituting in a column of NaN
  warnings.warn(w)

In [27]:
odf=results.loc[:,['PassengerId','predict']]
odf.columns=['PassengerId','Survived']
odf.to_csv('submission2.csv',index=False)

In [10]:
df2 = pd.read_csv('submission.csv')